*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 10vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.btn{
  border: none;
  background: transparent;
  padding: 6px 16px;
  font-size: 1.1rem;
  color: white;
  background: rgb(0,212,212);
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  color: rgb(0,212,212);
  background-color: white;
}

.nav-items{
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a{
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: rgb(0,212,212);
}

.services-submenu{
  width: 15rem;
  position: absolute;
  list-style: none;
  text-align: start;
  top: 94px;
}

.services-submenu li{
  background: rgb(0, 212, 212);
  cursor: pointer;
  width: 15rem;
}

.services-submenu li a:hover{
  background: rgb(0, 175, 175);
}

.services-submenu.clicked{
 display: none;
}

.submenu-item{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 15px;
}
